.body{
    padding-top:0rem;
    background: url('/images/desktop-backgrounds-wallpaper-images-background-portfolio1.jpg') no-repeat center center fixed;
    background-size: cover;
    height:100em;
}
.bodypart1{
    padding-top:20rem;
    overflow:hidden;
    background-image: url('/images/desktop-backgrounds-wallpaper-images-background-portfolio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100em;
    position: absolute;
}
.bodypart2{


    position: absolute;

}


.bodypart2 img{

    overflow:hidden;
    background-image: url('/images/web-development-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:50em;
    border:1px solid white;

}

.skills{
    text-align: center;
    font-family:  cursive;
    color: black;
    font-size:5em;
    background-color:#d3bcc0;
    opacity:0.9;
}
.mySlides {
    display:none;
    position: relative;
}
.imagetext {
    display:none;
    position:relative;
    font-size: 20px;
    text-align:center;
    width:100%;
    background-color:#d3bcc0 ;
    opacity:0.9;
    font-family: sans-serif;
    color:black;

}
.terminal{

    margin-top:-60rem;
}
.terminal1{
    display:none;
}
.fakeButtons {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    top: 6px;
    left: 6px;
    background-color: #ff3b47;
    border-color: #9d252b;
    display: inline-block;
}

.fakeMinimize {
    left: 11px;
    background-color: #ffc100;
    border-color: #9d802c;
}

.fakeZoom {
    left: 16px;
    background-color: #00d742;
    border-color: #049931;
}

.fakeMenu {
    width: 60%;
    box-sizing: border-box;
    height: 3rem;
    background-color: #bbb;
    margin: 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    opacity:0.9;
}

.fakeScreen {
    background-color: #151515;
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    min-height:40rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    opacity:0.9;
}

h2 {
    position: relative;
    text-align: left;
    font-size:2em ;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

span {
    color: #fff;

}
.line0 {
    color: #b2b5ba;
    font-size:4em;
    font-family: cursive;
    -webkit-animation: type .5s 1s steps(20, end) forwards;
    -moz-animation: type .5s 1s steps(20, end) forwards;
    -o-animation: type .5s 1s steps(20, end) forwards;
    animation: type .5s 1s steps(20, end) forwards;
}

.cursor0 {
    -webkit-animation: blink 1s 2s 2 forwards;
    -moz-animation: blink 1s 2s 2 forwards;
    -o-animation: blink 1s 2s 2 forwards;
    animation: blink 1s 2s 2 forwards;
}
.line1 {
    color: #b2b5ba;
    -webkit-animation: type .5s 2s steps(20, end) forwards;
    -moz-animation: type .5s 2s steps(20, end) forwards;
    -o-animation: type .5s 2s steps(20, end) forwards;
    animation: type .5s 2s steps(20, end) forwards;
}

.cursor1 {
    -webkit-animation: blink 1s 2s 2 forwards;
    -moz-animation: blink 1s 2s 2 forwards;
    -o-animation: blink 1s 2s 2 forwards;
    animation: blink 1s 2s 2 forwards;
}

.line2 {
    color: #b2b5ba;
    -webkit-animation: type .5s 4.25s steps(20, end) forwards;
    -moz-animation: type .5s 4.25s steps(20, end) forwards;
    -o-animation: type .5s 4.25s steps(20, end) forwards;
    animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
    -webkit-animation: blink 1s 5.25s 2 forwards;
    -moz-animation: blink 1s 5.25s 2 forwards;
    -o-animation: blink 1s 5.25s 2 forwards;
    animation: blink 1s 5.25s 2 forwards;
}



.line21 {
    color: #b2b5ba;
    -webkit-animation: type .5s 4.25s steps(20, end) forwards;
    -moz-animation: type .5s 4.25s steps(20, end) forwards;
    -o-animation: type .5s 4.25s steps(20, end) forwards;
    animation: type .5s 4.25s steps(20, end) forwards;
}
.cursor21 {
    -webkit-animation: blink 1s 2s 2 forwards;
    -moz-animation: blink 1s 2s 2 forwards;
    -o-animation: blink 1s 2s 2 forwards;
    animation: blink 1s 2s 2 forwards;
}
.line3 {
    color: #b2b5ba;
    -webkit-animation: type .5s 7.5s steps(20, end) forwards;
    -moz-animation: type .5s 7.5s steps(20, end) forwards;
    -o-animation: type .5s 7.5s steps(20, end) forwards;
    animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
    -webkit-animation: blink 1s 8.5s 2 forwards;
    -moz-animation: blink 1s 8.5s 2 forwards;
    -o-animation: blink 1s 8.5s 2 forwards;
    animation: blink 1s 8.5s 2 forwards;
}

.line4 {
    color: #fff;
    -webkit-animation: type .5s 10.75s steps(20, end) forwards;
    -moz-animation: type .5s 10.75s steps(20, end) forwards;
    -o-animation: type .5s 10.75s steps(20, end) forwards;
    animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
    -webkit-animation: blink 1s 8.5s 2 forwards;
    -moz-animation: blink 1s 8.5s 2 forwards;
    -o-animation: blink 1s 8.5s 2 forwards;
    animation: blink 1s 8.5s 2 forwards;
}
.line5 {
    color: #fff;
    -webkit-animation: type .5s 15.75s steps(20, end) forwards;
    -moz-animation: type .5s 15.75s steps(20, end) forwards;
    -o-animation: type .5s 15.75s steps(20, end) forwards;
    animation: type .5s 15.75s steps(20, end) forwards;
}

.cursor5 {
    -webkit-animation: blink 1s 11.5s infinite;
    -moz-animation: blink 1s 8.5s infinite;
    -o-animation: blink 1s 8.5s infinite;
    animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes type {
    to {
        width: 40em;
    }
}

@-moz-keyframes type {
    to {
        width: 40em;
    }
}

@-o-keyframes type {
    to {
        width: 40em;
    }
}

@keyframes type {
    to {
        width: 40em;
    }
}

.arrows-container {
    display: flex;
    position: relative;

    float: right;
    padding-right:30rem;
    margin-top:-30em;

}

.arrow {
    padding: 8rem;
    box-shadow: 5px -5px white inset;
    transform: rotate(225deg);
    text-align: right;
    opacity: 0;
    position: absolute;
}

.arrow-one {
    animation: arrowMovement 2s ease-in-out infinite;
}

.arrow-two {
    animation: arrowMovement 2s 1s ease-in-out infinite;
}


@keyframes arrowMovement {
    0% {
        left: 0;
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        left: 30px;
        opacity: 0;
    }
}
.arrows-container-d {
    display: flex;
    position: relative;
 text-align: center;
    float: center;
    padding-left:47%;
    margin-top:-12em;

}
.arrowdown {
    padding: 5rem;
    box-shadow: 5px -5px white inset;
    transform: rotate(315deg);
    text-align: right;
    opacity: 0;
    position: absolute;
}
.arrow-one-d {
    animation: arrowMovementd 2s ease-in-out infinite;
}

.arrow-two-d {
    animation: arrowMovemend 2s 1s ease-in-out infinite;
}


@keyframes arrowMovementd {
    0% {
        top: 0;
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        top: 30px;
        opacity: 0;
    }
}
.arrows-container-d-l {
    display: flex;
    position: relative;

    float: left;
    padding-left:30rem;
    margin-top:-22em;

}
.followhead{
    background-color: #151515;
    width:20rem;
    height:14rem ;
    color:white;
    opacity:0.7;
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    border-radius:20px;
}
.follow{
    background-color: #3B579D;
    width:20rem;
    height:64rem ;


}
.soc {
    margin-top: -100px;
    display: block;
    list-style: none;
    text-align: center;
    padding-left: 2rem;
    padding-top: 2rem;
}
.soc li {
    display: inline-block;
}
.soc a, .soc svg {
    display: block;
}
.soc a {

    position: relative;
    height: 150px;
    width: 150px;
}
.soc svg {
    height: 100%;
    width: 100%;
}

.icon {
    background: black;
    border-radius: 100%;
    color: white;
    fill: white;
}
.icon:hover {
    background: white;
    color: black;
    fill: black;
}

.facebook:hover {
    color: #3B579D;
    fill: #3B579D;
}

.github {
    background: white;
    color: black;
    fill: black;
}
.github:hover {
    background: #6441a5;
    color: white;
    fill: white;
}

.linkedin:hover {
    color: #007BB6;
    fill: #007BB6;
}

.stackoverflow:hover {
    color: #fe7a15;
    fill: #fe7a15;
}
@media screen and (max-width: 600px) {
    .bodypart1{
        padding-top:20rem;
        overflow:hidden;
        background-image: url('/images/desktop-backgrounds-wallpaper-images-background-portfolio.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height:60em;
    }
    .body{
        padding-top:0rem;
        background: url('/images/desktop-backgrounds-wallpaper-images-background-portfolio1.jpg') no-repeat center center fixed;
        background-size: cover;
        height:60em;
    }
    .bodypart2{
        height: 60rem;
        background-color: #3B579D;

    }
    .bodypart2 img{

        overflow:hidden;
        background-image: url('/images/web-development-banner.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height:30em;
        border:1px solid white;
    }
    .skills{
        text-align: center;
        font-family: 'Pacifico', cursive;
        color: white;
        font-size:2em;
        background-color:#3B579D;
        opacity:0.7;
    }

    .arrows-container {
        display: flex;
        position: relative;

        float: right;
        padding-right:23rem;
        margin-top:5em;

    }

    .arrow {
        padding: 4rem;
        box-shadow: 4px -4px black inset;
        transform: rotate(225deg);
        text-align: right;
        opacity: 0;
        position: absolute;
    }
    .terminal{
      display:none;
    }
    .terminal1 {
        display: block;
        margin-top:-22rem;
        width:25rem;
        height:22rem;
        margin-left:10rem;
    }
    .terminal1 img {

        width:25rem;
        height:22rem;

    }
    .followhead{
        background-color: #151515;
        width:8rem;
        height:4rem ;
        font-size: 10px;
        padding-bottom:12rem ;
        border-radius:1rem ;
        margin-top:-12rem;


    }
    .follow{
        background-color: #3B579D;
        width:8rem;
        height:auto ;


    }
    .soc {
        margin-top: -100px;
        display: block;
        list-style: none;
        text-align: center;
        padding-left: 1rem;
        padding-top: 2rem;
    }
    .soc li {
        display: inline-block;
    }
    .soc a, .soc svg {
        display: block;
    }
    .soc a {

        position: relative;
        height: 50px;
        width: 50px;
    }
    .soc svg {
        height: 100%;
        width: 100%;
    }

}



